@mixin font($style: false, $size: false, $colour: false, $weight: false, $lineheight: false) {
	font: normal normal normal 20px/1 Arial, Helvetica, sans-serif;
	@if $size { font-size: $size; }
	@if $colour { color: $colour; }
	@if $weight { font-weight: $weight; }
	@if $lineheight { line-height: $lineheight; }
}