// Modules
@import 'modules/vars';
@import 'modules/mixins';
@import 'modules/typography';

// Partials
@import 'partials/navigation';
@import 'partials/header';
@import 'partials/about';
@import 'partials/skills';
@import 'partials/portfolio';
@import 'partials/contact';
@import 'partials/footer';

// Vendor
@import 'vendor/normalize';